* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
/* SECTION NAVBAR */
.navbar {
  margin-bottom: 0;
  background-color: #FFF;
}

.logo img {
  width: 150px;
  height: auto;
  margin-top: 22px;
}

.main-navbar {
  margin: 25px 0;
}

.navbar-2 {
  margin-left: 50px;
}

.main-navbar ul, .navbar-2 ul {
  list-style: none;
  margin: 0;
}

.main-navbar li, a {
  text-decoration: none;
  display: inline-block;
  color: #0c2454;
  font-size: 1.1em;
  margin: 0 8px;
  font-weight: 400;
}

.navbar-2 li, a {
  text-decoration: none;
  display: inline-block;
  color: #0c2454;
  font-size: 1.1em;
  margin: 0 4px;
  font-weight: 400;
}

.main-navbar a:hover {
  color: #005fe6;
  text-decoration: none;
}

.navbar-2 a:hover {
  color: #005fe6;
  text-decoration: none;
}

.signup {
  margin-top: 15px;
}

.signup a {
  text-align: right;
  padding: 5px 15px;
  border: 2px solid #005fe6;
  border-radius: 5px;
  text-decoration: none;
  color: #005fe6;
}

.signup a:hover {
  background-color: #005fe6;
  color: #FFF;
  transition: .30s;
}

/* SECTION JUMBOTRON */

.jumbotron {
  margin-top: 74px;
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
  margin-bottom: 0;
}

.title h1 {
  color: #FFF;
  font-size: 4em;
  margin-bottom: 25px;
}

.title p {
  color: #FFF;
  opacity: 0.8;
}

.home-create-account {
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
}

.home-create-account h2 {
  font-weight: bold;
  text-align: center;
}

#start-now {
  font-size: 2em;
  font-weight: bold;
  color: #005fe6;
  text-align: center;
}

.home-items {
  width: 100%;
  margin: 5px;
}

.home-items input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}

.create-account {
  text-align: center;
  background-color: #5999ff;
}

.create-account a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.1em;
  padding: 10px 0;
}

.create-account:hover {
  background-color: #1633ff;
  cursor: pointer;
}

#google-signup {
  background-color: #FFF;
  border: 2px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

#google-signup a {
  text-decoration: none;
}

.home-items img {
  width: 7%;
  height: auto;
}

#google-img {
  position: absolute;
  left: 5px;
  top: 2px;
}

.terms p {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.terms a {
  text-decoration: underline;
  color: #5999ff;
  font-weight: bold;
}

/* SEZIONE PARTNERS */

.partners {
  background-color: #f2f1f0;
}

.partners h5 {
  text-align: center;
  font-weight: bold;
  color: #a3a2a0;
  font-size: 0.8em;
}

.innovate {
  margin: 30px 0;
}

.partners-img {
  text-align: center;
}

.partners-img img {
  height: auto;
  width: 15%;
  margin: 0 20px;
}

#gitlab-img {
  margin: 0;
}

#splunk-img {
  height: 40px;
  width: auto;
}

#slack-img {
  height: 40px;
  width: auto;
}

.stories {
  margin: 30px 0;
  text-align: center;
}

.stories a {
  color: #005fe6;
}

/* SEZIONE RANDOM */

.random-section {
  background-color: #FFF;
}

.subtitle {
  text-align: center;
  margin: 50px 0;
}

.subtitle h3 {
  margin-bottom: 30px;
  font-size: 2.3em;
  font-weight: bold;
}

.subtitle p {
  color: rgba(3,27,78,.7);
  font-size: 1.2em;
  letter-spacing: 1px;
}

.random-section-list {
  margin: 0 25%;
}

.random-section-list ul {
  list-style: none;
  border-left: 2px solid lightgrey;
}

.random-section-list li {
  padding: 15px 15px;
}

.random-section-list a {
  color: lightgrey;
}

.random-section-list a:hover {
  color: rgba(3,27,78,.7);
  text-decoration: none;
}

.random-tab-item {
  display: inline-block;
  width: 35%;
}

.random-tab-item h3 {
  margin: 0;
}
